<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojf.pingan.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zhaojf.pingan.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="contactName" column="contact_name" jdbcType="VARCHAR"/>
            <result property="contactTelephone" column="contact_telephone" jdbcType="VARCHAR"/>
            <result property="vehicleNo" column="vehicle_no" jdbcType="VARCHAR"/>
            <result property="sessionId" column="session_id" jdbcType="VARCHAR"/>
            <result property="signature" column="signature" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,contact_name,contact_telephone,
        vehicle_no,session_id,signature
    </sql>
</mapper>
